.container{
    width: 100vw;
    height: 100vh;
    background-image: url('./poke-dt.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}



.wrapper-link{
    border: 1px solid #222834;
    height: 50px;
    width: 80px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(10px);
    background-color: transparent;
    
}

.link-main{
    color: #9AA0AC;


}
.link-main:hover{
    color: #FAFF88;
}
.wrapper-link:hover{
     transform: scale(1.5);
}